<%# <form action="get">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form> %>
<h1>Stupid Coaching</h1>
<h4>Ask your coach anything!</h4>
<div class="container2">
<form action="/answer" method="get" class="questionbox">
  <input type="text" name="asked" placeholder="Ask you Coach?">
    <%# value="<%= params[:ask] %>
  <input type="submit" class="button">
</form>
</div>
